<<<<<<< HEAD
<%- include("partial/header") -%>
=======
<%- include("header") -%>
>>>>>>> 1e963c0b093ff0930461b1cb1d5db7fe2fa6d8fb

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<<<<<<< HEAD
<%- include("partial/footer") -%>
=======
<%- include("footer") -%>
>>>>>>> 1e963c0b093ff0930461b1cb1d5db7fe2fa6d8fb
